footer {
    color: white;
    background-color: rgb(26, 26, 26);
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer a {
    padding: 0px 5px;
    color: white;
}