.helpPage-main {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    color: white;
    background-color: rgb(41, 41, 41);
    font-size: 20px;
}

p {
    padding: 0px 10px;
}

h3 {
    background-color: rgb(32, 32, 32);
    padding: 10px;
    border-radius: 10px;
}

#helpPage-navMenu {
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-height: 250px;
    font-size: larger;
    align-items: center;
    border-radius: 10px;
    margin: 23.4px 0px;
}

#helpPage-navMenu p {
    margin: 10px;
}

.helpPage-verticalDivider {
    background-color: #000000;
    height: 100%;
    width: 4px;
    margin: 25px;
}

#helpPage-intervals {
    display: flex;
    flex-direction: column;
}

.helpPage-horizontalDivider {
    background-color: #000;
    height: 1px;
    margin: 10px;
    width: 97.5%;
}

table {
    margin: auto;
}

tr img {
    max-width: 100px;
    max-height: 100px;
}

img {
   -webkit-filter: invert(1);
   filter: invert(1);
   display: block;
   margin: auto;
}